---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/layout/TopBar.astro'
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/home/Hero.astro';
import About from '../components/sections/home/About.astro';
import Team from '../components/sections/home/Team.astro';
import Testimonials from '../components/sections/home/Testimonials.astro';
import Blog from '../components/sections/home/Blog.astro';
import Footer from '../components/layout/Footer.astro';
import MobileMenu from '../components/layout/MobileMenu.astro';
import FreePlacesBanner from '../components/sections/home/FreePlacesBanner.astro';
---

<Layout title="KiTa in Winterthur - Kinderbetreuung ab 3 Monaten">
  <FreePlacesBanner/>
  <TopBar/>
  <Header/>
  <MobileMenu/>
  <main>
    <Hero/>
    <About/>
    <Team/>
    <Testimonials/>
    <Blog/>
  </main>
  <Footer/>
</Layout>
